.newtask {
    background-color: #A8E8A8; /* Verde claro */
    color: #228b22;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transição suave para a cor de fundo */
  }

  .newtask:hover {
    background-color: #66dc66; /* Verde claro */
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease; /* Transição suave para a cor de fundo */
  }
  
